@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b1b1f;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Helvetica, sans-serif; */
}

.abc-staff-theme .abcjs-staff,
.abc-staff-theme>.abcjs-bar,
.abc-staff-theme svg path.abcjs-staff,
.abc-staff-theme svg line.abcjs-staff,
.abc-staff-theme .abcjs-staff>path,
g .abcjs-triplet>text {
  fill: #000 !important;
  user-select: none;
}

.abc-staff-theme {
  background: #fff !important;
}

#tuning-fork {
  /* position: absolute; */
  display: block;
  width: 18px;
  height: 22px;
}

.button-5s-debounce-anim::before {
  animation-duration: 5s;
  animation-name: debounce-rtl;
  animation-timing-function: steps(5);
  display: block;
  position: absolute;
  z-index: 0;
  content: " ";
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: rgba(0,0,0,0.8);
}

.button-5s-debounce-anim button img {
  position: relative;
  z-index: 1;
}

@keyframes debounce-rtl {
  from {
    right: 0;
  }

  to {
    right: 100%;
  }
}

@media only screen and (max-width: 600px) {
  #sightreed-logo-text {
    display: none;
  }
}